@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --ivoryBlack: #1d2731;
  --black: #000;
  --white: #fff;
  --darkWhite: #bbb;
  --gray: #777;
  --fullScreen: 97vh;

}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--ivoryBlack);
  color: var(--darkWhite);
}

/* Landing Page */
.landing-link {
  color: var(--ivoryBlack);
  text-decoration: none;
  background-color: var(--darkWhite);
  padding: 20px;
  border-radius: 10px;
  transition: ease-out .250s;
}

#landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--fullScreen);
  border: 5px var(--black) solid;
}

#creator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#creator-name {
  margin: 0;
  font-size: 100px;
  font-style: italic;
  text-shadow: 3px 3px 4px #000000;
  color: #D4F4FF;
  margin-bottom: 200px;
  margin-top: 100px;
}

#creator-greet {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 4px #000000;
  color: #87A6AA;
  margin: 10px;
}

#btn-container {
  display: flex;
  gap: 15px;
}

#profile-pic {
  height: 400px;
  position: absolute;
  top: 15%;
  left: 23%;
  z-index: -9999;
  border: 3px solid;
  border-radius: 1px;
  box-shadow: 5px 5px 20px var(--black);
}

.landing-link:hover {
  background-color: #49545F;
  color: #E49D22;
  border-radius: 30px;
  padding: 20px 100px;
}


/* About Me */

#about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--fullScreen);
  border: 5px var(--black) solid;
}

#about-title {
  direction: rtl;
  /* width: 20%; */
  font-size: 40px;
}

#about-divider {
  height: 12rem;
  width: 10px;
  margin: 0 30px;
  background-color: #E49D22;
  border-radius: 5px;
}

#bio {
  width: 60%;
}

/* Projects */

.project-image {
  width: 300px;
  position: relative;
  top: 0;
  left: 300px;
  width: 30%;
  z-index: -999;
  border: 4px solid;
  border-radius: 10px;
}

.project-card {
  background-color: #49545F;
  color: #E49D22;
  border-radius: 10px;
  border: 2px solid #E49D22;
  width: 50%;
  height: 10rem;
  z-index: -9999;
  display: flex;
  position: relative;
}

.project-page-title {
  text-align: center;
}

.card-title {
  background-color: #1d2731;
  padding: 1rem;
  border-top-left-radius: 10px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.6;
  z-index: -9998;
  border-radius: 8.2px;
  transition: ease 0.5s;
  cursor: pointer;
}

#project-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--fullScreen);
  border: 5px var(--black) solid;
}

#project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#redwood {
  width: 50%;
  background-image: url('../assets/images/redwood-ss.png');
  background-size: cover;
  background-repeat: none;
}

#siege-bot {
  width: 30%;
  background-image: url('../assets/images/siege-bot.png');
  background-size: cover;
  background-repeat: none;
}

#jate {
  width: 30%;
  background-image: url('../assets/images/jate.png');
  background-size: cover;
  background-repeat: none;
}

#eventify {
  width: 50%;
  background-image: url('../assets/images/note-taker.png');
  background-size: cover;
  background-repeat: none;
}

#dnd-app {
  width: 50%;
  background-image: url('../assets/images/dnd-companion.png');
  background-size: cover;
  background-repeat: none;
}

#something {
  width: 30%;
  background-image: url('../assets/images/dnd-companion.png');
  background-size: cover;
  background-repeat: none;
}

.overlay:hover {
  opacity: 0;
}
